
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    overflow: hidden;  
    background-color:#2b134b
}

#background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.main-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.card-login {
    width: 300px;
    background-color: #2f2841;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px 10px 40px #00000056;
    text-align: center;
    color: #f0ffffde;
}

.card-login h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 0;
    font-size: 24px;
}

.text-field {
    margin-bottom: 10px;
}

.text-field input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin-top: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #2b134b;
    background-color: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.left-login-image {
    width: 200px; 
    height: auto; 
    animation: floatAnimation 3s infinite alternate; 
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px); 
    }
}


.container {
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 10px; 
    font-size: 14px;
    color: #00ff88;
}